.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather-container{
  width: 100%;
  height: auto;
  border: 0px solid black;
  margin: auto;
  text-align: center;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 620px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.temperature-icon-div{
  margin: -1rem 1rem;
display: flex;
flex-direction: column-reverse;
}

.mb-33{
  margin: 1rem 10px auto;
}
.mb-333{
  margin: 1rem 10px auto;
  width: 6rem;
}

.location-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currentDateTime-p{
font-weight: 700;  
word-spacing: 5px;
  
}
.wind_details{ 
  width: 100%;
  
}
.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   list-style-type: circle;
  width: 12rem;
  border-radius: 5%;
  margin: 1rem 1rem  0;
}
.list-title{
  font-weight: 900;
}